.movie-item {
    list-style: none;
    display: flex;
    height: 160px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.movie-item .movie-img {
    height: 159px;
    width: 110px;
}

.movie-info {
    flex: 1;
    padding: 10px 20px;
}

.movie-title {
    font-size: 18px;
}

.movie-type-want {
    display: flex;
    justify-content: space-between;
}

.movie-want {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header {
    display: flex;
    justify-content: space-between;
}