<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影管理</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin_movieManage.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>


    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/admin_movieManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="#"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="#"><i class="icon-bar-chart"></i> 影院统计</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">已上架电影</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#movieModal"><i class="icon-plus-sign"></i> 上架电影</button>
        </div>
        <ul class="movie-on-list">
        </ul>
    </div>
</div>
<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="movieModalLabel">新增电影</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="movie-name-input">电影名称</label>
                        <input type="text" class="form-control" id="movie-name-input" placeholder="请输入电影名称">
                    </div>
                    <div class="form-group">
                        <label for="movie-description-input">描述</label>
                        <input type="text" class="form-control" id="movie-description-input" placeholder="请输入电影描述">
                    </div>
                    <div class="form-group">
                        <label for="movie-img-input">海报</label>
                        <input type="text" class="form-control" id="movie-img-input">
                        <p class="help-block">文件不能过大</p>
                    </div>
                    <div class="form-group">
                        <label for="movie-star-input">主演</label>
                        <input type="text" class="form-control" id="movie-star-input" placeholder="请输入电影主演">
                    </div>
                    <div class="form-group">
                        <label for="movie-director-input">导演</label>
                        <input type="text" class="form-control" id="movie-director-input" placeholder="请输入电影导演">
                    </div>
                    <div class="form-group">
                        <label for="movie-description-input">类型</label>
                        <input type="text" class="form-control" id="movie-type-input" placeholder="请输入电影类型">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="movie-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>