<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影详情</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/movieDetail.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>


    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/movieDetail.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="#"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="#"><i class="icon-bar-chart"></i> 影院统计</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <img id="movie-img">
            <div class="movie-basic-info">
                <div><span class="title" id="movie-name"></span></div>
                <div style="margin-top: 20px;"><span>简 介 ：</span><span id="movie-description" class="gray-text"></span></div>
                <div><span>上 映 ：</span><span id="movie-startDate"></span></div>
                <div><span>类 型 ：</span><span id="movie-type"></span></div>
                <div><span>地 区 ：</span><span id="movie-country"></span></div>
                <div><span>语 言 ：</span><span id="movie-language"></span></div>
                <div><span>导 演 ：</span><span id="movie-director"></span></div>
                <div><span>主 演 ：</span><span id="movie-starring"></span></div>
                <div><span>编 剧 ：</span><span id="movie-writer"></span></div>
                <div class="movie-operations"><button type="button" class="btn btn-primary" id="like-btn"><i class='icon-heart'></i><span>想 看</span></button></div>
            </div>
        </div>
        <div class="seesion-container">
            <h1>暂无排片</h1>
        </div>
    </div>
</div>
</body>
</html>