<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin_movieManage.css"/>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/user_movie.js"></script>
</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
            <li role="presentation"><a href="/user/buy">购票</a></li>
        </ul>
        <div class="nav-user-container">
            <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
            <span class="gray-text" style="vertical-align: middle">用户A</span>
        </div>
    </div>
    <div class="content-container">
        <div class="filler-container">
            <div class="filler-item">
                <ul style="display: flex">
                    <span>类型：</span>
                    <li><a>喜剧</a></li>
                    <li><a>科幻</a></li>
                </ul>
            </div>
        </div>
        <ul class="movie-on-list">
        </ul>
    </div>
</body>
</html>